# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
coverage/

# System files
.DS_Store

# Environment variables
.env
.env.*

# Cache
*.local
*.tsbuildinfo
.eslintcache

# Editor / IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Project rules
rules.md
.windsurf/