/* Carrega base (onde estão Tailwind, Preflight e suas variáveis) */
@import "./base.css";

/* Estilos mínimos do app */
body {
    font-family: "Poppins", sans-serif;
}

/* Corrigido: NÃO sobrescreve background e cor global do Volt */
#app {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Links */
a,
.green {
    text-decoration: none;
    color: var(--p-primary-500);
    transition: 0.2s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: rgba(99, 102, 241, 0.15);
    }
}
